@font-face {
    font-family: Pixelify_Sans;
    src: url("Fonts/Pixelify_Sans/static/PixelifySans-Bold.ttf");
}


body {
    background-color: #a88fac;
}

.Shipi {
    position: fixed;
    bottom: -160px;
    left: -120px;
    
}

.bar {
    width: 600px;
    border-radius: 16px;
    background-color: #5d4360;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.button {
    height: 20px;
    background-color: #77004f;
    border-radius: 15px;
    font-family: "Pixelify_Sans";
}

.button:hover {
    height: 30px;
    background-color: #20018f;
    border-radius: 23px;  
}

.disply-area {
    padding: 5px;
    padding-left: 0px;
    border-radius: 16px;
    background-color: bisque;
    width: 1500px;
}

.disply {
    margin-left: 5px;
    background-color: burlywood;
    border-radius: 16px;
}
