

body {
    background-color: #a88fac;
}

.Shipi {
    position: fixed;
    bottom: -160px;
    left: -120px;
    
}

.bar {
    width: 80%;
    height: 40px;
    border-radius: 16px;
    background-color: #5d4360;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}


.disply-area {
    padding: 5px;
    padding-left: 0px;
    border-radius: 16px;
    background-color: bisque;
    width: 1500px;
}

.disply {
    margin-left: 5px;
    background-color: burlywood;
    border-radius: 16px;
}
